body {
	margin: 15px;
	font-family: 'Dancing Script';
	text-shadow: 4px 4px 4px #aaa;
	background:  #02010a;
}
header{
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
	height:50px;
}
nav{
	float: right;
	color: #02010a;
	font-size: 24px;
}
a{
	color: white;
	link();
}
footer{
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
	height:50px;
}
.contenido
{
	position: absolute;
	width: 100%;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
}
img{
	box-shadow: 2px 2px 2px #02010a;
}
#titulo{
  color: white;
  text-shadow: 2px 2px #02010a;
}
.cuerpogeneral {
  display: flex;
  flex-direction: column;
}
.contenedorpie {
  display: flex;
  flex-direction: column;
}

#imagenprincipal{
  background: #82c3a6;
  text-align: center;
  flex-direction: column;
}
.imagensegundo{
	display: flex;
	flex-direction: row;
	background:  #d5c75f;
}
.seccionpie{
	display: flex;
	flex-direction: row;
}
#imagensecundario .imagensegundo > div {
  text-align: center;
	display: center;
	padding: 10px;
	width: 50%;
  border-style: solid;
  border-width: 10px, 10px, 10px, 10px;
  }
.imagensegundo img {
	text-align: center;
  object-position: center;
  width: 50%;
  height: 90%;
  object-fit: cover;
  }

@media (max-width: 480px) {
body {
	display: flex;
}
.imagensegundo{
	display: block;
}
#imagenprincipal {
	display:flex;
	
}
#imagensecundario .imagensegundo > div {
  text-align: center;
	display: center;
	padding: 10px;
	width: 100%;
  border-style: solid;
  border-width: 10px, 10px, 10px, 10px;
  }

header {
		width: 100%;
		text-align: center;
    display: flex;
  	flex-direction: column;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	nav {
		float:none;
		text-align: center;
	}
.seccionpie {
    display: flex;
  	flex-direction: column;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#column1
	    {
	    width: 100%;
			text-align: left;
	    }
	#column2
	    {
			width: 100%;
			text-align: justify;
			margin-right: 30px;
	    }
	#column3
	    {
	    width: 100%;
			text-align: left;
	    }
	#column4
	    {
	    width: 100%;
			text-align: left;
	    }
}

#imagendos:hover {
	transform: rotate(10deg);
	box-shadow: 2px 2px 5px #82c3a6;
	border: 2px solid;
}

#imagentres:hover {
	transform: translate(20px,-5px);
	box-shadow: 2px 2px 5px #82c3a6;
	border: 2px solid;
}

article
	{
    -webkit-box-sizing: border-box;
    -mo-z-box-sizing: border-box;
    box-sizing: border-box;
    float:left;
    height: 100%;
    padding: 2%;
    text-align: center;
    background: #C6d5c5;
	}
.seccionpie{
	position: absolute;
	background: #C6d5c5;

}
@media (min-width: 480px) {
	#column1
	    {
	    width: 25%;
	    }
	#column2
	    {
			width: 25%;
			text-align: justify;
			margin-right: 30px;
	    }
	#column3
	    {
	    width: 25%;
	    }
	#column4
	    {
	    width: 25%;
	    }
}
@font-face {
	  font-family: 'Dancing Script';
	  font-style: normal;
	  src: url('../fonts/dancing-script-v10-latin-regular.eot'); /* IE9 Compat Modes */
	  src: local('Dancing Script Regular'), local('DancingScript-Regular'),
	       url('../fonts/dancing-script-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('../fonts/dancing-script-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	       url('../fonts/dancing-script-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
	       url('../fonts/dancing-script-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	       url('../fonts/dancing-script-v10-latin-regular.svg#DancingScript') format('svg'); /* Legacy iOS */
	}
